{% extends "MsgBundle::layout.html.twig" %}

{% block content %}
<h2>{{ 'contacts.title'|trans({}, "MsgBundle")|title }}</h2>

{% for contact in contacts %}
	{{ contact.name }}
{% endfor %}

{% endblock %}