
.cmsg_conversation {
	background-color: rgba(0,0,0,0.2);
	padding: 0.1em 2em;
	margin-bottom: 1em;
	border-radius: 0.5em;
}

.cmsg_general {
	float: right;
	margin-top: -3em;
	background: rgba(0,0,0,0.25);
	padding: 0.4em 0.6em;
	border-radius: 0.5em;
}

.cmsg_message {
	margin-left: 6em;
	margin-bottom: 2em;
	position: relative;
}

.cmsg_message_meta {
	background-color: rgba(0,0,127,0.2);
	padding: 0.25em;
}

.cmsg_message_meta ul {
	margin: 0.1em;
	padding: 0.1em;
}

.cmsg_message_meta li {
	list-style: none;
	display: inline;
}

ul.cmsg_flags {
	float: left;
	margin-right: 2em;
}

ul.cmsg_tags li:before {
    content: " - ";
}
ul.cmsg_tags li:first-child:before {
    content: "";
}



.cmsg_actions {
	background-color: rgba(127,0,0,0.2);
	padding: 0.25em;
}

ul.cmsg_actions {
	position: absolute;
	top: 0px;
	left: -6em;
	width: 5em;
	text-align: center
}

.cmsg_actions li {
	display: inline;
}

.cmsg_actions button {
	width: 100%;
}

.cmsg_related {
	background-color: rgba(127,127,0,0.2);
	padding: 0.25em 0 0.25em 0.25em;
	margin: 0;
}

.cmsg_related ul {
	margin: 0;
}

.cmsg_related li {
	list-style: none;
}


.cmsg_content {
	background-color: rgba(0,0,0,0.1);
	padding: 0.25em;
}

button.cmsg_icon {
	background: rgba(255,255,255,0.5);
	border: none;
	border-radius: 0.25em;
	font-size: 125%;
	padding: 0.05em 0.4em;
}
button.cmsg_icon:hover {
	background: rgba(255,255,255,0.75);
}

.cmsg_on {
	background: rgba(0,240,0,0.5);
	padding: 0.1em 0.1em 0.3em 0.5em;
	border-radius: 0.5em;
}
.cmsg_off {
	background: rgba(200,200,200,0.5);
	padding: 0.1em 0.1em 0.3em 0.5em;
	border-radius: 0.5em;
}

#message_reply label {
	display: block;
}

#message_reply textarea {
	width: 100%;
}


